{% extends 'base.html' %}
{% block titulo %} EventHub Login{% endblock %}

{% block contenido %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-5">
            <div class="card-body">
                <h2 class="card-title text-center text-primary mb-4">Iniciar Sesión</h2>
                <!-- Formulario para iniciar sesión -->
                <form class="p-4" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_username" class="form-label">Nombre de usuario</label>
                        <input type="text" name="username" placeholder = '@username' class="form-control" id="id_username" required>
                    </div>
                    <div class="mb-3">
                        <label for="id_password" class="form-label">Contraseña</label>
                        <input type="password" name="password" placeholder = 'password' class="form-control" id="id_password" required>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                    </div>
                </form>
                <p class="mt-3 text-center">¿No tienes una cuenta?<a href="{% url 'registro' %}">Regístrate aquí</a> </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- scripts -->
 <!-- Script para mostrar el error cuando se inicia sesión con credenciales incorrectas -->  
{% block js_extras %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        {% if form.errors %}
            Swal.fire({
            title: "Error",
            text: "Usuario o contraseña incorrecta, ingrese nuevamente",
            icon: "error"
            });
        {% endif %}
        });
</script>
{% endblock %}