{% extends 'base.html' %}
{% block titulo %}Lista de eventos{% endblock %}
{% block contenido %}
<h2>Listado de eventos</h2>
    <table class="table table-striped datatable">
        <thead>
            <tr>
                <th>Eventos</th>
                <th>Descripción</th>
                <th>Fecha del evento</th>
                <th>Ubicación</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for eventos in eventos %}
                <tr>
                    <td>{{ eventos.nombre_evento }}</td>
                    <td>{{ eventos.descripcion }}</td>
                    <td>{{ eventos.fecha_evento }}</td>
                    <td>{{ eventos.ubicacion }}</td>
                    <td>{% if eventos.estado %}Activo{% else %}Inactivo{% endif %}</td>
                    <td><a href="{% url 'detalle_eventos' eventos.pk %}" class="btn btn-primary btn-sm">Ver detalles</a> </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">No hay eventos disponibles.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
